.alerta {
  animation: tarea ease-in 100ms;
  -webkit-animation: tarea ease-in 100ms;
}

.fadeIn {
  animation: fadeIn ease-in 100ms;
  -webkit-animation: fadeIn ease-in 100ms;
}


@keyframes tarea {
  from{
    top: -30px;
    opacity: 0;
  }
  to{
    top: 0;
    opacity: 1;
  }
}

@keyframes fadeIn{
  from{
    left: -30px;
    opacity: 0;
  }
  to{
    left: 0;
    opacity: 1;
  }
}